*{
  margin:0;
  padding: 0;
}

body {
  font-size: 24px;
  line-height: 32px;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
}

#yourName {
  position: relative;
  text-align: center;
  line-height: 50px;
  top: 0;
  left: 10%;
  width: 200px;
  height: 10vh;
  background: darkblue;
  color: #cccccc;
}