*{
  margin:0;
  padding: 0;
}

body {
  font-size: 24px;
  line-height: 32px;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background: lightblue;
  border: solid 1px #cccccc;
  z-index: 0;
}

#yourName {
  position: relative;
  text-align: center;
  line-height: 50px;
  top: 0;
  left: 10%;
  width: 200px;
  height: 10vh;
  background: darkblue;
  color: #cccccc;
}

nav {
  display: flex;
  margin-left: 20%;
  justify-content: space-around;
  width: 80%
}

nav > div {
  width: 150px;
  height: 10vh;
  line-height: 50px;
}

#container2{
  position: fixed;
  top: 10vh;
  left: 10%;
  width: 80vw;
  margin-top: 20px;
  margin-bottom: 80px;
  background: #ffffff;
  border: solid 1px #dddddd;
  z-index: -1;
}

h1 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 70px;
  margin-left: 20px;
  line-height: 45px;
  color: teal;
  font-family: newFont;
}

#myPic {
  float: left;
  vertical-align: top;
  margin: 7px 20px 7px 20px;
  width: 300px;
}

#container2 p{
  margin-top: 50px;
  font-size: 30px;
  color: teal;
  font-family: 'Red Rose', cursive;
  margin-left: 20px;
  text-align: justify;
}

.footer {
  border-top: 8px solid darkblue;
  height: 5vh;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: lightblue;
  z-index: 0;
}

@font-face {
  font-family: newFont;
  src: url('../fonts/JulietteGarden-owXD4.ttf');
}